*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 1600px;
    margin: 4px 120px 0px 120px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
}
nav ul{
    margin-right: 500px;
    display: flex;
    list-style: none;
    gap: 32px;
}
nav .cta-button{
     background-color: #30B868;
     padding: 12px 16px 12px 16px;
     border-radius: 5px;
     border-style: none;
}
nav .cta-button a{
    color: #FFFFFF;
    text-decoration: none;
}

#about{
    padding-top: 155px;
    
}
#about .about-container{
    width: 71%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: none;
    padding: 116px 120px 180px 120px;
    /* background-color: red; */
}
#about .section-heading button{
    color: #30B868;
    padding: 8px 12px 8px 12px;
    border-radius: 20px;
    width: 229px;
    background-color: #FFFFFF;
    font-size: medium;
    border-style: none;
}
#about .about-container .st{
   color: #FFFFFF;
   background-color: none;
   
}
#about .about-container .nt{
    color: #30B868;
    background-color: none;
    
}
#about .about-container p{
    color: #FFFFFF;
    padding-top: 10px;
}
#section-btn{
    padding-top: 15px;
    gap: 16px;
}
#section-btn .btn1{
    padding: 12px 16px 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: 16;
    border-style: none;
}
#section-btn .btn2{
    background-color: none;
     color: #FFFFFF;
    border-radius: 10px;
    font-weight: 16;
    padding: 14px 14px 14px 48px;
    border-style: none;
}
#notes{
    padding-top: 0px;
   
}
#notes .notes-container{
    width: 71%;
    max-width: 1360px;
    margin: 0 auto;
}
#notes .section-heading{
    text-align: center;
    margin-top: 0;
    margin-bottom: 44px;
}


#notes .section-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 5px;
}
#notes .note-box{
    display: flex;
    text-align: center;
    gap: 24px;
    
}
.note-box .note-card{
    box-shadow: 0 0 8px 0 #949494;
    padding: 24px 24px 24px 24px;
    border: 1px solid blue;
    max-width: 322px;
    height: 260px;
}
.note-card img{
    max-height: 60px;
    max-width: 60px;
    margin-bottom: 16px;
}
.note-card h3{
   
    color: #001931;
    margin-bottom: 16px;
}
.note-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;}
  #second{
    width: 1600px;
    padding-top: 0;
  }  
#second .contant-container{
    padding: 120px 120px 120px 120px;
}
#second .contant-container .contant{
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-left: 150px;
}
#second .solutions {
    width: 700px;
    padding: 50px 0px 102px 0;
}
#second .solutions h4{
    color: #30B868;
    margin-bottom: 5px;
}
#second .solutions p{
    margin-top: 5px;
    color: #627382;
}
.solutions .list{
    margin-top: 5px;
}
.solutions .list .pr{
    display: flex;
    align-items: center;
    gap: 2px;
    
}
