*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 1600px;
    margin: 4px 120px 0px 120px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    margin-right: 500px;
    display: flex;
    list-style: none;
    gap: 32px;
}
nav .cta-button{
     background-color: #30B868;
     padding: 12px 16px 12px 16px;
     border-radius: 5px;
}
nav .cta-button a{
    color: #FFFFFF;
    text-decoration: none;
}
section{
    background-color: aqua;
    width: 1600px;
    height: 674px;
    margin-top: 0px;
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner{
    margin-left: 600px;
}

